<h1>I am a Software Engineer</h1>
<h3>About Me</h3>
<p>My name is Philip Becker.  Lucy is my daughter!  My favorite things to do are play board games and go to the movies.  My favorite super heroes are the Teenage Mutant Ninja Turtles.  My favorite Disney cartoon is Aladdin.</p>
<p>I was on the Quick Recall team in Elementary School.  I tried writing a text-only Power Rangers video game when I was 10.  I graduated from Manual High School's MST magnet where I had my first programming class.  I went to college at Rose-Hulman Institute of Technology and got my degree in Software Engineering.</p>
<p>I've been working as a Software Engineer since 2007.  I've worked on building software to help people setup wifi, automated quality assurance, purchase tracking software, and monitoring jail data.  I currently work at Oddball.io, working with the Veterans Affairs to help Veterans access their benefits through <em>va.gov</em>.</p>
<h3>About Engineering</h3>
<p>Engineering is applied Science.  Instead of doing experiments, known discoveries are used to build things that help people.  A Computer Scientist might find a new way to use math to compress data, but a Software Engineer would use that to build a new streaming service.</p>
<h3>About Software</h3>
<p>Hardware deals with the actual electricty that powers computers, like how a screen shows pictures.  Software is the instructions for computers that tell it what to do, like what picture to put on a screen.  I use software to tell servers how to give your web browser the data you requested from our website.</p>
<h3>What's this website?</h3>
<p>I built this to demonstrate a bit of what I do.  I use a programming language called <em>Ruby</em> and use a framework called <em>Ruby on Rails</em> to make it easy to build websites.  Hopefully it will show you why software matter and what you could do with it!</p>
